### RBL Amavis Exporter ###
#
#

[Unit]
Description=RBL Amavis Export
OnFailure=status-email-user@%n.service

[Service]
ExecStart=/usr/local/RBL/contrib/amavis/exportAmavisLdap.php
