[Unit]
Description = RBLDNS Exporter for %i list
AssertPathExists=/usr/local/RBL/contrib/rbldns/yourbl
After = syslog.target

[Service]
WorkingDirectory=/usr/local/RBL/contrib/rbldns/yourbl
Type = simple
Restart=always
RestartSec=1800s
ExecStart = ../exportdns.php -f ../conf.default -t %i

[Install]
WantedBy=multi-user.target
