### RBL Reputation Subscriber ###
#
#

[Unit]
Description=RBL IP Reputation Subscriber
After = syslog.target

[Service]
ExecStartPre=sh -c "/usr/bin/find /usr/local/RBL/contrib/ipImap/report/*.html -type f -ctime +14 -delete"
ExecStart=/usr/local/RBL/contrib/ipImap/getip.php
