[Unit]
Description = RBLDNS Exporter for %i list
AssertPathExists=/usr/local/RBL/contrib/rbldns/yourbl
After = syslog.target
OnFailure=status-email-sysadmin@%i.service

[Service]
WorkingDirectory=/usr/local/RBL/contrib/rbldns/yourbl
Type = simple
Restart=always
RestartSec=1800s
ExecStart = /usr/local/RBL/contrib/rbldns/exportdns.php -f ../conf.%i -t %i

[Install]
WantedBy=multi-user.target
