.font, .font input select textarea { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
a.tclabel span { text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; cursor: pointer; }

#calendar-page { 
	display: inline-block;
	background-color: #28343b;
}

#calendar-header { padding-top: 2px; position: relative; z-index: 150; }
#calendar-header .closeme { padding: 0px 3px 2px 0px; }
#calendar-header select { border-radius: 3px; padding: 1px 3px; }

#calendar-body { padding: 2px 3px 3px 3px; }
#calendar-body .general { background: #1f272c; }
#calendar-body .header { background-color: #000000; color: #FFFFFF; font-size: 9px; }
#calendar-body .othermonth { background-color: #1f272c; color: #444444; }
#calendar-body .othermonth a:link { text-decoration: none; color: #CCFFCC; }
#calendar-body .othermonth a:visited { text-decoration: none; color: #CCFFCC; }
#calendar-body .othermonth a:hover { text-decoration: none; color: #FFFFFF; }
#calendar-body td div { padding: 4px; width: 16px; white-space: nowrap; position: relative; z-index: 100; }
#calendar-body td a { display: block; white-space: nowrap; }
#calendar-body a:link { text-decoration: none; color: #dddddd; }
#calendar-body a:visited { text-decoration: none; color: #dddddd; }
#calendar-body a:hover { text-decoration: none; color: #E09643; }
#calendar-body .disabledate { background: url(../../images/disable_date_bg.png) no-repeat center center #596a72; color: #999999; }
#calendar-body .today { background: #1f272c; }
#calendar-body .today a { color: #EDCD5C !important; font-weight: bold; }
#calendar-body .select div { background: url(../../images/choose.png) no-repeat center center; color: #ffffff; }
#calendar-body .select div a { color: #ffffff; }
#calendar-body .wk-hdr { font-size: 9px; }
#calendar-body .wk {
	font-size: 9px;
	color: #627d4d;
	background: #28343b;
}

#calendar-body .refresh { color: #eeeeee; padding: 10px 3px 3px; }
#calendar-body .refresh .txt-container { padding: 25px 10px 10px; height: 50px; }

#calendar-body .mon {}
#calendar-body .tue {}
#calendar-body .wed {}
#calendar-body .thu {}
#calendar-body .fri {}
#calendar-body .sat { /*color: #A6B9EC;*/ }
#calendar-body .sat a:link { /*color: #A6B9EC;*/ }
#calendar-body .sun { /*color: #993300;*/ }
#calendar-body .sun a:link { /*color: #993300;*/ }

#calendar-body .hasEvent { background-color: #fceabb; color: #333333; } /* event color */
#calendar-body .hasEvent a { color: #333333; }

#calendar-footer { font-size: 9px; overflow: hidden; }
#calendar-footer .btn { width: 16px; }
#calendar-footer .links { color: #ffffff; }
#calendar-footer a.txt { color: #ffffff; padding: 1px 2px; line-height: 19px; }
#calendar-footer a.txt:link { text-decoration: none; color: #ffffff; }
#calendar-footer a.txt:visited { text-decoration: none; color: #ffffff; }
#calendar-footer a.txt:hover { text-decoration: none; color: #E09643; }
#calendar-footer a>img { margin-top: 1px; }
#calendar-footer .links { text-align: center; margin: auto 25px; }
#calendar-footer .links>div { display: inline; }

#calendar-header, #calendar-body, #calendar-footer { padding-left: 1px; padding-right: 1px; }
#calendar-container { clear: both; }

#calendarform { margin: 0px; padding: 0px; }
#calendarform ul { margin: 0px; padding: 0px; list-style: none; }
#calendarform ul li { display: inline; }
#calendarform select { z-index: 1; }

.calendar-border { border: 1px solid #999999; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; overflow: hidden; }
.div_calendar { width: 10px; height: 10px; }

#calendar-alert { background-color: #CC3300; border: 1px solid #993300; color: #FFFFFF; padding: 3px; margin: 2px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; }

.calendartooltip { position: absolute; top: 0px; right: 0px; width: 8px; height: 8px; background: url(../../images/info.gif) no-repeat top right; z-index: 102; } /* event icons */